[Desktop Entry]
Encoding=UTF-8
Name=Phore
Comment=Phore P2P Cryptocurrency
Comment[fr]=Phore, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Phore, eşten eşe kriptografik sanal para birimi
Exec=digitalrupees-qt %u
Terminal=false
Type=Application
Icon=digitalrupees128
MimeType=x-scheme-handler/digitalrupees;
Categories=Office;Finance;
